<div class="fluid-container" id="about-contact">
  <div class="container" id="about-background-glass">

    <div class="d-flex pt-5 mt-5">
      <div class="container align-self-center">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8 text-center">
            <div class="lc-block mb-2 py-4 rounded text-white">
              <p class="fs-2 fw-bolder">Sobre nosotros</p>
              <p class="fs-5 fw-bolder fst-italic text-start">Estos son nuestros objetivos:</p>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex pb-5 mb-5">
      <div class="container align-self-center">
        <div class="row justify-content-center" >
          <div class="col-12 col-lg-8" id="about-objetive-background">
            <div class="lc-block mb-2 py-2 rounded text-white">
              <p class="fs-3">Lorem ipsum</p>
              <p class="fs-6 fst-italic text-start">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. et corporis illum dolor aperiam voluptates earum labore reprehenderit ex praesentium vel, fugiat ratione quibusdam quo aliquid est ab?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eaque expedita, et corporis illum, fugiat ratione quibusdam quo aliquid est ab?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eaque expedita, et corporis illum dolor aperiam voluptates earum labore reprehenderit ex praesentium vel
              </p>

              <p class="fs-3">Lorem ipsum</p>
              <p class="fs-6 fst-italic text-start">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eaque expedita,  reprehenderit ex praesentium vel, fugiat ratione quibusdam quo aliquid est ab?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eaque expedita, et corporis illum dolor aperiam voluptates earum labore reprehenderit ex praesentium vel, fugiat ratione quibusdam quo aliquid est ab?
              </p>

              <p class="fs-6 fst-italic text-start">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eaque expedita,  reprehenderit ex praesentium vel, fugiat ratione quibusdam quo aliquid est ab?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eaque expedita, et corporis illum dolor aperiam voluptates earum labore reprehenderit ex
              </p>

              <p class="fs-3 fst-italic fw-light text-end pt-4">Hasta la victoria siembren...</p>
          </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
