<div class="fluid-container" id="article-contact">
  <div class="fluid-container" id="article-background-glass">

    <div class="container">
      <div class="d-flex pt-5 mt-5">
        <div class="container align-self-center">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
              <div class="lc-block mb-2 py-4 rounded text-white">
                <p class="fs-1 fw-bolder">Hasta la victoria siembren</p>
                <p class="fs-5 fw-bold">¿Cómo iniciar tu propia huerta?</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex pb-5 mb-5">
      <div class="container align-self-center">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8 col-xl-8 text-center">
            <div class="lc-block rounded">

              <div lc-helper="background" class="rounded" style="min-height: 45vh; background-size: cover; background-position: center; background-image: url('https://images.unsplash.com/photo-1558985590-e84f133009b2?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1352&amp;q=80');">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-last-article></app-last-article>

</div>

