.navbar {
    background: rgba( 0, 0, 0, 0.5 );
    padding: 1em;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

#btn-active {
  color: #ff9f1a;
}

a {
  color:white;
}

a:hover {
  color: #ff9f1a;
}

path {
  color: #ff9f1a;
  border: 1px solid #ff9f1a;
}


