.navbar {
    background: rgba( 0, 0, 0, 0.5 );
    padding: 1em;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

#btn-active {
  color: #ff9f1a;
}

a {
  color:white;
}

a:hover {
  color: #ff9f1a;
}

.bi-person-fill-lock {
  color: #ff9f1a;

}

#cursor-key-orange {
  cursor: url('../../../assets/key-fill-custom.svg'), context-menu;
}

#cursor-key-red {
  cursor: url('../../../assets/key-fill-red.svg'), context-menu;
}




